<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="INFO">
  <Appenders>
  
     <RollingFile name="serviceMethod" fileName="/alidata/logs/service/serviceMethod.log"
                     filePattern="/alidata/logs/service/serviceMethod_%d{yyyy-MM-dd}_%i.log">
         <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
         <PatternLayout pattern="%-d{yyyy-MM-dd HH:mm:ss} [ %p ] [ %c ] %m%n"/>
         <Policies>
             <TimeBasedTriggeringPolicy/>
             <SizeBasedTriggeringPolicy size="100 MB"/>
         </Policies>
		<DefaultRolloverStrategy max="100"/>
     </RollingFile>
     
     <RollingFile name="serverInfo" fileName="/alidata/logs/server/serverInfo.log"
                     filePattern="/alidata/logs/server/serverInfo_%d{yyyy-MM-dd}_%i.log">
         <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
         <PatternLayout pattern="%m%n"/>
         <Policies>
             <TimeBasedTriggeringPolicy/>
             <SizeBasedTriggeringPolicy size="100 MB"/>
         </Policies>
         <DefaultRolloverStrategy max="100"/>
     </RollingFile>
     
     <RollingFile name="dayActivity" fileName="/alidata/logs/dayActivity/dayActivity.log"
                     filePattern="/alidata/logs/dayActivity/dayActivity_%d{yyyy-MM-dd}_%i.log">
         <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
         <PatternLayout pattern="%-d{yyyy-MM-dd HH:mm:ss} [ %p ] [ %c ] %m%n"/>
         <Policies>
             <TimeBasedTriggeringPolicy/>
             <SizeBasedTriggeringPolicy size="100 MB"/>
         </Policies>
         <DefaultRolloverStrategy max="100"/>
     </RollingFile>
     
     <RollingFile name="searchAnswerKeyword" fileName="/alidata/logs/search/answer/keyword.log"
                     filePattern="/alidata/logs/search/answer/keyword_%d{yyyy-MM-dd}_%i.log">
         <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
         <PatternLayout pattern="%m%n"/>
         <Policies>
             <TimeBasedTriggeringPolicy/>
             <SizeBasedTriggeringPolicy size="100 MB"/>
         </Policies>
         <DefaultRolloverStrategy max="100"/>
     </RollingFile>
     
     <RollingFile name="searchAnswerBarcode" fileName="/alidata/logs/search/answer/barcode.log"
                     filePattern="/alidata/logs/search/answer/barcode_%d{yyyy-MM-dd}_%i.log">
         <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
         <PatternLayout pattern="%m%n"/>
         <Policies>
             <TimeBasedTriggeringPolicy/>
             <SizeBasedTriggeringPolicy size="100 MB"/>
         </Policies>
         <DefaultRolloverStrategy max="100"/>
     </RollingFile>
     
     <RollingFile name="pageAmountLog" fileName="/alidata/logs/server/pageAmountLog.log"
                     filePattern="/alidata/logs/server/pageAmountLog_%d{yyyy-MM-dd}_%i.log">
         <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
         <PatternLayout pattern="%m%n"/>
         <Policies>
             <TimeBasedTriggeringPolicy/>
             <SizeBasedTriggeringPolicy size="100 MB"/>
         </Policies>
         <DefaultRolloverStrategy max="100"/>
     </RollingFile>
     
      <RollingFile name="integralTaskRecord" fileName="/alidata/logs/integralTaskRecord/integralTaskRecord.log"
                     filePattern="/alidata/logs/integralTaskRecord/integralTaskRecord_%d{yyyy-MM-dd}_%i.log">
         <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
         <PatternLayout pattern="%-d{yyyy-MM-dd HH:mm:ss} [ %p ] [ %c ] %m%n"/>
         <Policies>
             <TimeBasedTriggeringPolicy/>
             <SizeBasedTriggeringPolicy size="100 MB"/>
         </Policies>
         <DefaultRolloverStrategy max="100"/>
     </RollingFile>


      <RollingFile name="confusionImageUrlInfoLog" fileName="/alidata/logs/server/confusionImageUrlInfoLog.log"
                   filePattern="/alidata/logs/server/confusionImageUrlInfoLog_%d{yyyy-MM-dd}_%i.log">
          <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
          <PatternLayout pattern="%m%n"/>
          <Policies>
              <TimeBasedTriggeringPolicy/>
              <SizeBasedTriggeringPolicy size="100 MB"/>
          </Policies>
          <DefaultRolloverStrategy max="100"/>
      </RollingFile>
	
	  <RollingFile name="answerServiceSearchParam" fileName="/alidata/logs/server/answerServiceSearchParam.log"
                   filePattern="/alidata/logs/server/answerServiceSearchParam_%d{yyyy-MM-dd}_%i.log">
          <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
          <PatternLayout pattern="%m%n"/>
          <Policies>
              <TimeBasedTriggeringPolicy/>
              <SizeBasedTriggeringPolicy size="100 MB"/>
          </Policies>
          <DefaultRolloverStrategy max="100"/>
      </RollingFile>
  </Appenders>
  
  <Loggers>
    <Root  level="INFO">
<!--     	 <AppenderRef ref="Console"/> -->
    </Root >
    
    <Logger name="serviceMethod" level="INFO">
    	<AppenderRef ref="serviceMethod"/>  
    </Logger>
    
    <Logger name="pageAmountLog" level="INFO">
    	<AppenderRef ref="pageAmountLog"/>  
    </Logger>
    
    <Logger name="serverInfo" level="INFO">
    	<AppenderRef ref="serverInfo"/>  
    </Logger>
    
    <Logger name="dayActivity" level="INFO">
    	<AppenderRef ref="dayActivity"/>  
    </Logger>
    
    <Logger name="searchAnswerKeyword" level="INFO">
    	<AppenderRef ref="searchAnswerKeyword"/>  
    </Logger>
    
    <Logger name="searchAnswerBarcode" level="INFO">
    	<AppenderRef ref="searchAnswerBarcode"/>  
    </Logger>
    
    <Logger name="integralTaskRecord" level="INFO">
    	<AppenderRef ref="integralTaskRecord"/>  
    </Logger>

      <Logger name="confusionImageUrlInfoLog" level="INFO">
          <AppenderRef ref="confusionImageUrlInfoLog"/>
      </Logger>
      
      <Logger name="answerServiceSearchParam" level="INFO">
          <AppenderRef ref="answerServiceSearchParam"/>
      </Logger>
      
      
  </Loggers>
</Configuration>